<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the DeploymentKit configuration.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <setting name="DeploymentToolKit.ContentChecker.MainDir" value="/sitecore/content/TenantLocal/sxatest/Home"/>
      <setting name="DeploymentToolKit.ContentChecker.StandardJssKey" value="{4504300D-5028-4E79-B9D2-E897CD808A6C}"/>
      <setting name="DeploymentToolKit.ContentChecker.JssUrl" value="http://sxatest.local/sitecore/api/layout/render/jss?item="/>
      <setting name="DeploymentToolKit.ContentChecker.xml" value="upload\contentchecker.xml"/>
      <setting name="DeploymentToolKit.ContentChecker.Checker" value="/sitecore/client/Your%20Apps/ContentChecker/Checker?sc_lang=en"/>
      <setting name="DeploymentToolKit.ContentChecker.CheckForLayout" value="true"/>
      
      <setting name="DeploymentToolKit.MaintenanceMode.xml" value="upload\maintenancemode.xml"/>
     
    </settings>
  </sitecore>
</configuration>