<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the DeploymentKit configuration.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Content Checker  -->
      <setting name="DeploymentToolKit.ContentChecker.WebsiteRoot" value="/sitecore/content/Home"/>
      <setting name="DeploymentToolKit.ContentChecker.StandardJssKey" value="{4504300D-5028-4E79-B9D2-E897CD808A6C}"/>
      <setting name="DeploymentToolKit.ContentChecker.JssUrl" value="http://sc9demo.local/sitecore/api/layout/render/jss?item="/>
      <setting name="DeploymentToolKit.ContentChecker.Directory" value="App_Data\tools\DeploymentToolkit\"/>
      <setting name="DeploymentToolKit.ContentChecker.SnapshotFilename" value="contentchecker.xml"/>

      <!-- Show ONLY Sitecore Items that have Layout configured -->
      <setting name="DeploymentToolKit.ContentChecker.CheckForLayout" value="false"/>

      <!-- MaintenanceMode  -->
      <setting name="DeploymentToolKit.MaintenanceMode.xml" value="upload\maintenancemode.xml"/>
     
    </settings>
  </sitecore>
</configuration>